script(src='http://code.jquery.com/jquery.js')
script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js",integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw",crossorigin="anonymous")
script(src='/code-prettify/loader/prettify.js')
script(src="/colorbox/jquery.colorbox-min.js")
script(src='/javascripts/main.js')