script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/code-prettify/loader/prettify.js')
script(src="/colorbox/jquery.colorbox-min.js")
script(src='/javascripts/main.js')