link(rel="stylesheet",href="/css/bootstrap.min.css")
link(rel="stylesheet",href="/code-prettify/loader/prettify.css")
link(rel="stylesheet" href="/colorbox/colorbox.css")
link(rel="stylesheet",href="/stylesheets/style.css")
