link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css",integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+",crossorigin="anonymous")
link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css",integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR",crossorigin="anonymous")
link(rel="stylesheet",href="/code-prettify/loader/prettify.css")
link(rel="stylesheet" href="/colorbox/colorbox.css")
link(rel="stylesheet",href="/stylesheets/style.css")
