script(src= rootPath + 'js/jquery.min.js')
script(src= rootPath + 'js/bootstrap.min.js')
script(src= rootPath + 'code-prettify/loader/prettify.js')
script(src= rootPath + "colorbox/jquery.colorbox-min.js")
script(src= rootPath + 'javascripts/main.js')