#register_form.modal(role="dialog")
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        p.modal-title Register URL
        button.close(type="button", data-dismiss="modal") &times
      .modal-body
        form(method="post" action="/")
          label(for="url") URL: 
          br
          textarea(id="url", name="url", rows=3, cols=50) http://
          br
          label(for="user-agent") User-Agent: 
          br
          input(type="text" name="user-agent", id="user-agent", value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36")
          br
          label(for="referer") Referer: 
          br
          input(type="text" name="referer", id="referer")
          br
          label(for="proxy") Proxy: 
          br
          input(type="text" name="proxy", id="proxy", placeholder="ip:port")
          br
          //label(for="disableScript") Disable JavaScript
          //input(type="checkbox", name="disableScript", id="disableScript" value="")
          //br
          //label(for="postData") Post Data: 
          //br
          //textarea(id="postData", name="postData", rows=3, cols=50)
          //br
          input(type="hidden" name="_csrf", value=csrfToken)
          br
          input(type="submit" name="submit", value="submit")
