#register_form.modal.col-12(role="dialog")
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-body
        form(method="post" action=rootPath)
          label(for="url") URL: 
          textarea.col-12(id="url", name="url", rows=2) http://
          br
          label.col-2(for="user-agent") User-Agent: 
          //input.col-10(type="text" name="user-agent", id="user-agent", value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36")
          select.col-10(name='user-agent' id='user-agent')
            option(value='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36', selected= true) win10-chrome
            option(value='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/17.17134') win10-edge
          br
          label.col-2(for="referer") Referer: 
          input.col-10(type="text" name="referer", id="referer")
          br
          label.col-2(for="proxy") Proxy: 
          input.col-10(type="text" name="proxy", id="proxy", placeholder="ip:port")
          br
          label.col-3(for="timeout") Timeout(s): 
          input.col-2(type="number" name="timeout", id="timeout", max="300", min="30", step="30", value="30")
          label.col-2(for="delay") Delay(s): 
          input.col-2(type="number" name="delay", id="delay", max="60", min="0", step="10", value="0")
          //label.col-2(for="disableScript") Disable Script
          //input.col-1(type="checkbox", name="disableScript", id="disableScript" value="")
          //br
          //label(for="postData") Post Data: 
          //br
          //textarea(id="postData", name="postData", rows=3, cols=50)
          //br
          input(type="hidden" name="_csrf", value=csrfToken)
          br
          input(type="submit" name="submit", value="submit")
