#register_form.modal.col-12(role="dialog")

  .modal-dialog.modal-dialog-centered(style="max-width:600px;")
    .modal-content
      .modal-body
        form.form-group(method="post" action=rootPath)
          .form-group
            label(for="url") URL: 
            a#paste= ""
            textarea.form-control(id="url", name="url", rows=2) http://
          .form-group.row
            label.col-2(for="track") Track:
            select.form-control.col-9(name='track' id='track')
                option(value=0, selected= true) -
                option(value=1) 1hx24 (no overwrite) 
                option(value=2) 1hx24 (overwrite)
          .form-group.row
            div.col-6
              label(for="userAgent") User-Agent: 
              select.form-control(name='userAgent' id='userAgent' multiple)
                include ua.pug
            div.col-6
              label(for="lang") Browser Language: 
              select.form-control(name='lang' id='lang' multiple)
                option(value='ja', selected= true) ja
                option(value='en') en
                option(value='zh') zh
          include form.pug
        //div        
          .form-group.row
            label.col-2(for="referer") Referer: 
            input.col-9.form-control(type="text" name="referer", id="referer")
          .form-group.row
            label.col-2(for="proxy") Proxy: 
            input.col-9.form-control(type="text" name="proxy", id="proxy", placeholder="ip:port")
          .form-inline
            .form-group.mr-5
              label.mr-2(for="timeout") Timeout(s): 
              input.mr-2.form-control(type="number" name="timeout", id="timeout", max="300", min="30", step="30", value="30")
              label.mr-2(for="delay") Delay(s): 
              input.mr-2.form-control(type="number" name="delay", id="delay", max="60", min="0", step="5", value="5")
            .form-group
              .form-check-inline
                label.form-check-label(for="disableScript") disable script:
                  input.form-check-input(type="checkbox", name="disableScript", id="disableScript" value="")
          .form-group
            label(for="exHeaders") Extra Headers: 
            textarea.form-control(id="exHeaders", name="exHeaders", rows=2)
          //label(for="postData") Post Data: 
          //br
          //textarea(id="postData", name="postData", rows=3, cols=50)
          //br
          input(type="hidden" name="_csrf", value=csrfToken)
          input(type="submit" name="submit", value="submit")
  script.
    document.getElementById("url").addEventListener("paste", function (e) {
        var clipboardData = e.clipboardData || window.clipboardData;
        var clipboardText = clipboardData.getData('Text');
        var text = clipboardText
        .replace(/^ +/, '')
        .replace(/\[:\]/g, ':')
        .replace(/\[.\]/g, '.')
        .replace(/^url./i, '')
        .replace(/^hxxp/i, 'http');
        var paste = document.getElementById('url');
        if (paste.selectionStart || paste.selectionStart == '0') {
            var startPos = paste.selectionStart;
            var endPos = paste.selectionEnd;
            paste.value = paste.value.substring(0, startPos)
                + text
                + paste.value.substring(endPos, paste.value.length);
            paste.selectionEnd= endPos + text.length;
        } else {
            paste.value += text;
        }
        if(text!=clipboardText)$('a#paste').text("replaced");
        else $('a#paste').text("");
        e.preventDefault();
    });
