nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  ul.navbar-nav
    li.nav-item
      a.nav-link(href="/") Top
    li.nav-item
      a.nav-link(data-toggle="modal",data-target="#register_form") Register URL
    li.nav-item
      //a.nav-link(href="/request") Request
    li.nav-item
      //a.nav-link(href="/response") Response