extends layout

block content
  h3= title
  .row
        div.form-group.col-md-11
            textarea#input.form-control(rows=10 style="width:100%")
            pre#content.prettyprint.linenums(style="white-space: pre-wrap") result
        div.col-md-1
          p Beautify
            .btn-group-vertical
              button.btn.btn-sm.btn-outline-primary(id="js" onclick="beautify(\"script\")") JS
              button.btn.btn-sm.btn-outline-primary(id="css" onclick="beautify(\"stylesheet\")") CSS
              button.btn.btn-sm.btn-outline-primary(id="html" onclick="beautify(\"html\")") HTML
              button.btn.btn-sm.btn-outline-primary(id="pretty" onclick="prettyPrint()") prettyPrint
          hr
          p Deobfuscate
            .btn-group-vertical
              button.btn.btn-sm.btn-outline-primary(onclick="deobfuscate('js-deobfuscator')") js
              button.btn.btn-sm.btn-outline-primary(onclick="deobfuscate('obf-io.deobfuscate')") obfuscator.io
              button.btn.btn-sm.btn-outline-primary(onclick="deobfuscate('jstillery')") JStillery
              button.btn.btn-sm.btn-outline-primary(onclick="deobfuscate('REstringer')") REstringer
          hr
          p
            button.btn.btn-sm.btn-primary(onclick="yara()") yara
          p
            button.btn.btn-sm.btn-primary(onclick="reset()") reset
          script.
              var apiPath = #{rootPath};
              function reset(){
                $('pre#content').text("result");
                $('pre#content').removeClass("prettyprinted");
              };
              function deobfuscate(module){
                var content=$("#input").val();
                $.ajax({
                  type: "post",
                  url: apiPath + "api/" + module,
                  data:JSON.stringify({"source":content}),
                  contentType: 'application/json',
                  dataType: "json",            
                  success: function(result) { 
                    $('pre#content').text(result["source"]);
                  },
                  error: function(err) {
                    $('pre#content').text(err);
                  }
                })
              };
              function yara(){
                var content=$("#input").val();
                $.ajax({
                  type: "post",
                  url: apiPath + "api/yara",
                  data: JSON.stringify({"source":content}),
                  contentType: 'application/json',
                  dataType: "json",            
                  success: function(result) { 
                    console.log(result)
                    $('pre#content').text(JSON.stringify(result, null, " "));
                  },
                error: function(err) {
                    $('pre#content').text(err);
                  }
                })
              };
              function beautify(type){
                var content=$("#input").val();
                var beautified;
                var opts = {"unescape-strings":true};
                if (type==="script") beautified = js_beautify(content, opts);
                else if (type==="stylesheet") beautified = css_beautify(content);
                else beautified = html_beautify(content);
                $('pre#content').text(beautified);
              };
