doctype html
html
  head
    title= title
    include include/head.pug

  body
    div.container
      include include/nav.pug

      include include/modal.pug

      block content

      include include/footer.pug

